body{
    margin: 10;
    padding: 10;
}
.contact-form{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 300px;
    height: 400px;
    padding: 80px 40px;
    border: 2px solid rgb(22, 0, 224);
    border-radius: 3%;
    background: rgba(0, 0, 0, 6);
}
.avatar{
    position: absolute;
    width: 180px;
    height: 90px;
    overflow: hidden;
    top: calc(-80px/2);
    left: 5%;
}
h2{
    margin: 0;
    padding: 0 0 20px;
    color:white;
    text-align: center;
    text-transform: uppercase;
}
.contact-form p{
    position:absolute;
    margin: 10;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.contact-form label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.contact-form input{
    width: 100%;
    margin-bottom: 20px;
}

.contact-form input[type=text],
.contact-form input[type=password]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 15px;
}

.contact-form input[type=submit]{
    height: 30px;
    color: #fff;
    font-size: 18px;
    background: rgba(226,26,34,255);
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 5%;
}

.contact-form button[type=button]{
    height: 30px;
    color: black;
    font-size: 10px;
    background: rgba(0,174,239,255);
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 0.5rem;
}


input[type=checkbox]{ 
    width: 20%;
} 

body {
    background-image: url('/static/images/background.jpg');
}
.form-control{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    height: 50px;
    font-size: 20px;
}

.nivel{
    display: flex;
    padding: 1rem;
    margin-right: 05px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}